.itemDetailContainer {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.itemDetailContainer-title {
    margin: 15px;
}

.card-lblId, .card-lblName, .card-lblCategory, .card-lblQuantity, .card-price {
    font-weight: bold
}

.card-price {
    margin-top: 10px;
    font-size: 150%;
    
}
.card-lblPriceMount{
    color: forestgreen;
}
.cardButton{
    color:white !important;
}
.cardReturn button{
    color:black !important;
}